/*Default*/

body {
    background-color: #eee7db;
    /* background-image: radial-gradient(#eee7db, #d1c9bc); */
    /* background-image: radial-gradient(ellipse at top, #f0eae0, transparent), radial-gradient(ellipse at bottom, #d1c9bc, transparent); */
    margin: 0 2.5rem;
}

@media only screen and (min-width: 1500px) {
    html {
        font-size: 19px;
    }
}

@media only screen and (min-width: 1690px) {
    html {
        font-size: 22px;
    }
}

/* @media only screen and (min-width: 1880px) {
    html {
        font-size: 22px;
    }
} */

@media only screen and (min-width: 2070px) {
    html {
        font-size: 26px;
    }
}

@media only screen and (min-width: 2446px) {
    html {
        font-size: 31px;
    }
}

h1 {
    font-family: "Grenze Gotisch", serif;
    font-size: 4rem;
    font-weight: 400;
    color: #113c73;
    text-align: center;
    line-height: 1;
    margin: 0;
    padding-bottom: 0.8rem;
}

p, a {
    font-family: "Libre Franklin";
    font-size: 1rem;
}

h2.sectionTitle { /* used in Projects and Contacts */
    font-family: "EB Garamond", sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 0 0 1rem;
    color:#113C73;
}

/* beeMovie script scripting */
p.beeMovie { /* used everywhere */
    width: fit-content;
    font-size: 0.45rem;
    font-family: 'Roboto Mono', monospace;
    color: #5F595D;
    font-weight: 400;
    line-height: 0.5rem;
    /* overflow-y: hidden; */
    text-align: justify;
    /* text-justify: inter-character; */
    margin: 0 0.25rem;
}

#measure {
    margin: 0;
}

.beeMovieWrap {
    overflow: hidden;
    height: 100%;
}

.bee2 {
    height: 10rem;
}

/*Header*/
.dateLocationDecor {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-top: 0.8px;
    margin-top: 14px;
}

.dateLocationDecor p {
    font-weight: 600;
    color: #5f595d;
    margin: 0;
}

nav a {
    font-weight: 600;
    color: #6d8ba7;
    margin: 0;
}

.mainTitle {
    width: 100%;
    border-style: solid none double;
    border-color: #5F595D;
    border-top-width: 2px;
}

.mainTitle a {
    text-decoration: none;
}

nav {
    padding: 0 30%;
    border-bottom-style: double;
    border-color: #5F595D;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0.25rem 0;
    margin: 0;
}

/* Profile */
.profile {
    padding-bottom: 1rem;
    border-bottom: solid #5F595D 1px;
    height: 21.8rem;
}

h2.banner {
    font-family: "Dela Gothic One", Arial;
    font-size: 4rem;
    font-weight: 400;
    width: 100%;
    color:#eee7db;
    text-align: center;
    margin: 1rem 0 0.25rem;
    line-height: 1.15;
    padding-bottom: 0.5rem;
}

h2.blueBG {
    background-color:#113c73;
}

#banner_bottom {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 16rem;
}

#albar_img_container {
    width: 36.875rem;
    height: 100%;
}

#albar_photo {
    width: 36.875rem;
    height: 100%;
    object-fit: cover;
}

#banner_bottom p {
    width: 17.8125rem;
}

#banner_bottom_right {
    width: 17.8125rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

#banner_bottom_right p {
    width: 100%;
}

#banner_bottom_right h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 2.625rem;
    color:#5F595D;
    margin: 0;
}

#profile_button {
    display: inline-flex;
    background-color: #D85051;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

#profile_button h4 {
    font-family: 'Dela Gothic One', serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #EEE7DB;
    margin: 0;
    padding: 0 0.5rem 0 1rem;
}

#profile_button img {
    width: 25px;
    height: 25px;
    padding: 0 1rem 0 0.5rem;
}

/* Opened profile */
.profile.content {
    min-height: 21.63125rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid #5F595D 1px;
    /* display: inline-flex; */
    display: none;
    justify-content: space-between;
}

.side {
    width: 25%;
    /* height: 100%; */
}

.middle {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.left {
    height: 100%;
    object-fit: cover;
}

.uni {
    display: inline-flex;
    justify-content: flex-start;
}

.uni img {
    margin: 0 3%;
}

.uni .major {
    display: flex;
    flex-direction: column;
    font-family: "EB Garamond", Arial;
    color: #113C73;
}

.major h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
}

.major h3 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.middle p {
    font-family: "Libre Franklin", Arial;
    font-size: 1rem;
    font-weight: 400;
    color: #5F595D;
    text-align: justify;
    margin: 0.5rem 0;
}

.side.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nara_3_wrapper {
    display: none;
}

.side.right h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #EEE7DB;
    margin: 0;
    padding: 0.5rem;
}

.badges {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1rem 0;
}

.badges a {
    max-width: 30%;
}

.badges img {
    width: 100%;
    object-fit: scale-down;
    margin: 0.25rem;
}

#profile_button_close {
    display: inline-flex;
    background-color: #D85051;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

#profile_button_close h2 {
    padding: 0 0.5rem 0 1rem;
    font-size: 1.5rem;
}

#profile_button_close h4 {
    font-family: "Libre Franklin", Arial;
    font-size: 1.5rem;
    color: #EEE7DB;
    margin: 0;
    padding: 0 0.875rem 0 0.5rem;
}

/* Projects */

.projects {
    width: 100%;
    margin: 1.5rem 0;
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid {
    height: 22.5rem;
    width: 17.8125rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    /* border: solid; */
}

/* Projects: Project Cards */

.projectCard {
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    border: solid 0.25rem;
    flex-shrink: 0;
    margin: 0 0.25rem;
}

a.cardLinks {
    text-decoration: none;
}

.cardTitle {
    font-family: "Black Han Sans", Calibri, sans-serif;
    font-size: 2.25rem;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.cardLowerHalf {
    display: flex;
    justify-content:  center;
    align-items: center;
    margin: 0 5%;
}

.cardSubtitle {
    font-family: "EB Garamond", Arial;
    font-size: 1.5rem;
    font-weight: 400;
    color: #2D2B2C;
    margin: 0;
}

.arrow {
    font-family: Calibri;
    font-weight: 800;
    font-size: 2rem;
    margin: 0;
}

/* Project: Color Specificity */

.blue {
    color: #113C73;
    border-color: #113C73;
}

.yellow {
    color: #E9BE5F;
    border-color: #E9BE5F;
}

.red {
    color: #D85051;
    border-color: #D85051;
}

/* Project: Grid Specificity */
.grid.top .beeMovieWrap {
    margin-top: 0.5rem;
}

.grid.bottom .beeMovieWrap {
    margin-bottom: 0.5rem;
}

/* Project clickity clack */
a.cardLinks.blue:hover .blue, a.cardLinks.blue:hover h4.cardSubtitle, a.cardLinks.blue:active .blue, a.cardLinks.blue:active h4.cardSubtitle {
    color:#EEE7DB;
    background-color: #113C73;
}

a.cardLinks.red:hover .red, a.cardLinks.red:hover h4.cardSubtitle, a.cardLinks.red:active .red, a.cardLinks.red:active h4.cardSubtitle {
    color:#EEE7DB;
    background-color: #D85051;
}

a.cardLinks.yellow:hover .yellow, a.cardLinks.yellow:hover h4.cardSubtitle, a.cardLinks.yellow:active .yellow, a.cardLinks.yellow:active h4.cardSubtitle {
    color:#EEE7DB;
    background-color: #E9BE5F;
}

a.cardLinks:active .cardLowerHalf h4.arrow {
    color: #2D2B2C;
    border-radius: 75%;
    border: solid;
    border-color: #EEE7DB;
    background-color:#EEE7DB;
}

/* Contact Box */
.grid.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.contact p {
    margin-bottom: 0.25rem;
}

.contact h2 {
    margin: 0;
    color:#2D2B2C;
}

.contactBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: dashed 0.125rem;
    flex-shrink: 0;
    border-color: #5F595D;
    margin-top: 0.5rem;
}

.social {
    display: flex;
    align-self: flex-start;
    margin: 0.5rem;
}

.social img {
    width: 1.5rem;
    object-fit: scale-down;
    margin-right: 0.5rem;
}

.social a {
    font-family: "EB Garamond", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #6d8ba7;
}

/* contact clickity */
.social a:visited {
    color: #826DA7;
}

.social a:hover {
    color: #113C73;
}

.social a:active {
    color: #826DA7;
}

/* Footer */
footer {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-style: double;
    border-color: #5F595D;
}

footer a {
    color: #5F595D;
    font-weight: 400;
}

/* Responsive ahh */

@media only screen and (max-width: 1250px) { /* banner became 2 lines */
    h2.banner {
        font-size: 2rem;
    }
    .profile {
        height: unset;
    }
}

@media only screen and (max-width: 1219px) { /* 3 columns */
    .bee1 {
        display: none;
    }

    .grid.fulltext {
        display: none;
    }

    #banner_bottom {
        justify-content: center;
    }

    #projects {
        justify-content: center;
    }

    img.side.left, .side.right h2.blueBG {
        display: none;
    }

    .middle {
        width: 36.125rem;
    }
    
    .side.right {
        margin: 0 0.5rem;
        width: 17.8125rem;
    }

    #nara_3_wrapper {
        width: 100%;
        height: 12rem;
        overflow: hidden;
        display: block;
    }

    #nara_3columns {
        width: 100%;
        object-fit: scale-down;
        object-position: 0 -65px;
    }

    #profile_content {
        justify-content: center;
        width: 100%;
    }
}

@media only screen and (max-width: 934px) { /* 2 columns project */
    #albar_img_container {
        width: 17.8125rem;
    }

    #albar_photo {
        width: 100%;
    }

    #nara_3_wrapper {
        display: none;
    }

    #profile_content {
        flex-direction: column;
    }

    .middle {
        width: 100%;
    }

    .middle p {
        margin-top: 0;
    }

    .side.right {
        width: 100%;
        flex-direction: row;
    }

    .badges {
        max-width: 40%;
        margin: 0;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 649px) { /* all beeMovie script gone */
    body {
        margin: 0 1rem;
    }

    .beeMovie, .beeMovieWrap {
        display: none;
    }

    .grid {
        height: fit-content;
    }

    .grid.title {
        width: 100%;
    }

    .projects {
        justify-content: center;
    }

    #projectSectionTitle {
        text-align: center;
    }

    #banner_bottom {
        justify-content: center;
    }

    #albar_img_container {
        width: 10rem;
    }

    #albar_photo {
        width: 17.8125rem;
    }

    #banner_bottom_right {
        justify-content: flex-end;

    }

    #banner_bottom_right h3 {
        width: 50%;
        text-align: end;
        align-self: flex-end;
    }
}

@media only screen and (max-width: 611px) {
    h1 {
        font-size: 3rem;
    }

    .dateLocationDecor p {
        font-size: 0.5rem;
    }

    nav {
        padding: 0 10%;
    }

    nav ul {
        padding-top: 0;
    }

    nav a {
        font-size: 0.75rem;
    }

    /* Rework grid */

    .grid {
        width: 12.5rem;
    }

    .projectCard {
        height: 10rem;
    }

    .cardTitle {
        font-size: 1.75rem;
    }

    .cardSubtitle {
        font-size: 1rem;
    }

    .arrow {
        font-size: 1.5rem;
    }

    .contact {
        width: 17.8125rem;
    }
}

@media only screen and (max-width: 513px) { /* mobile view */
    h1 {
        font-size: 2rem;
        padding-bottom: 0.4rem;
    }

    h2.banner {
        font-size: 1rem;
        margin: 0.25rem 0;
        padding-bottom: 0.25rem;
    }

    #banner_bottom_right h3 {
        font-size: 2rem;
    }

    #banner_bottom_right h4 {
        font-size: 1rem;
    }

    #banner_bottom_right img {
        width: 15px;
        height: 15px;
    }

    #profile_button_close h2, #profile_button_close h4 {
        font-size: 1rem;
    }

    .grid {
        width: 10rem;
    }

    .projectCard {
        height: 7.5rem;
    }

    .cardTitle {
        font-size: 1.375rem;
    }

    .cardSubtitle {
        font-size: 0.875rem;
    }

    .arrow {
        font-size: 1rem;
    }

    .contact {
        width: 17.8125rem;
    }
}

@media only screen and (max-width: 420px) { /*thinner mobile*/
    #banner_bottom {
        height: 10rem;
    }

    #albar_photo {
        height: 100%;
        width: 15rem;
    }

    #banner_bottom_right h3 {
        font-size: 1.5rem;
    }

    #banner_bottom_right h4 {
        font-size: 0.8rem;
    }

    .middle .uni {
        margin-bottom: 0.5rem;
    }
    
    .side.right {
        flex-direction: column;
        align-items: center;
        align-self: center;
    }

    .badges {
        max-width: 100%;
        margin: 0;
        justify-content: center;
    }

    #profile_button_close {
        align-self: center;
    }
}